# Dependencias
node_modules/

# Directorio de construcción
build/

# Archivos temporales
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Directorios de cobertura
coverage/

# Archivos de configuración locales
.env

# Archivos de configuración de usuario
.editorconfig
.eslintcache
*.swp
*.swo
*.swn

# Carpetas de sistemas operativos
.DS_Store
Thumbs.db

# Directorio de archivos generados durante la construcción
dist/
